/* For all the pages*/
*{
    text-decoration: none;
}

body{ 
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#navbar{
    line-height: 1em;
    background-color: rgba(0,0,0,1);
    text-align: center;
    height: 50px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    overflow: hidden;
    position:fixed;
    top: 0;
    margin: auto;
}

#navbar  ul{
    padding-left:10px ;
    list-style: none;
}

#navbar li{
    display: inline-block;
    padding-right: 13px;
}

#navbar a{ 
    color:  #ffce2b ;
    text-shadow: #fff;
    font-size: 16px;
    font-weight: bolder;
}

#navbar a:hover{
    color: #ff6961;
    text-shadow: #fff;
}

/*for intro*/
#intro{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),
    url("image/sdsa.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    color: #fff;
    text-shadow: #000;
    padding: 50px 0 60px 0;
    overflow: hidden;
    line-height: 2.5em;
}

#introtext{
    width: 100%;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}

#introtext h2 span{
    color:#ffce2b;
}

#pic1{
    width: 100% ;
    justify-content: center;
    align-items:center;
    display: flex;
}

#img1{
    width: 300px;
    clip-path: circle();
}


#ttle{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    color: #ffce2b  ;
    text-shadow: #000;
    text-align: center;
    margin-bottom: 10px;
} 
 
#textsm{
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

#textsm h2{
    font-size: 20px;
    padding-bottom: 20px;
}

#textsm h2 span{
    color:#ffce2b;
}

#textsm ul{
    list-style: none;
    word-spacing: 10px;
}

#textsm li{
    padding-right: 40px;
}

#textsm a{ 
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
}

#textsm img{
      width: 25px;
}

#textsm a:hover{
    color: #ffce2b;
    text-shadow: #000;
}


/* Aboutme*/

#Aboutme{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("image/bgg.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    color: #fff ;
    overflow: hidden;
    padding: 60px 0 60px 0;
    line-height: 2.5em;
}

#abttxt div{
    font-size: 20px;
    font-weight: 600;
}

#abttxt{
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    line-height: 2em;
    width: 100%;
    overflow: hidden;
}

#pic3{
    width: 100% ;
    justify-content: center;
    align-items:center;
    display: flex;
}

#img3{
    width: 300px;
    clip-path: circle();
}  

/* Skills*/

#Skills{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),
    url("image/bgp4.png") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    color: #fff;
    overflow: hidden;
    padding: 60px 0 60px 0;
    line-height: 2.5em;
}


#sklltxt{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: justify;
    line-height: 2em;
    overflow: hidden;
    float: right;
    margin: auto;
    padding-top: 50px;
}

.Iskls{
    height: auto;
    width: 100%;
}
#imgsklls{
    width: 100%;
}

#imgsklls img{
    width: 15%;  
}

#imgsklls img:hover{
    width: 20%;
}

@keyframes Load{
    from{
        width: 0%;
    }
}

@-webkit-keyframes Load{
    from{
        width: 0%;
    }
}

@-moz-keyframes Load{
    from{
        width: 0%;
    }
}

@-o-keyframes Load{
    from{
        width: 0%;
    }
}

.box{
    list-style: none; 
    margin: 0;
    padding: 0;
}

.box li h5{
    font-size: 18px;
    margin-bottom: 10px;
}

.bar{
    height: 18px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.bar::before{
    content: "";
    background-color: #ffce2b;
    display: inline-block;
    padding: 8px;
    border-radius: inherit;
    animation: load 3s 0s;
    -webkit-animation: load 3s 0s;
    -moz-animation: load 3s 0s;
    -o-animation: load 3s 0s;
}

.bar.bar1::before{
    width: calc(30% - 10px);
}
.bar.bar2::before{
    width: calc(50% - 10px);
}
.bar.bar3::before{
    width: calc(70% - 10px);
}
.bar.bar4::before{
    width: calc(50% - 10px);
}
.bar.bar5::before{
    width: calc(60% - 10px);
}
.bar.bar6::before{
    width: calc(50% - 10px);
}
.bar.bar7::before{
    width: calc(50% - 10px);
}
.bar.bar8::before{
    width: calc(40% - 10px);
}
.bar.bar9::before{
    width: calc(30% - 10px);
}

/*Project*/

#Project{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url("image/bgg5.png") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: auto;
    overflow: hidden;
    color: #fff;
    overflow: hidden;
    padding: 60px 0 60px 0;
    line-height: 2.5em;
}

#Project #ttle{
    padding-top: 10px;
}

#proj1{
    text-align: center;
    color:#ffce2b;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: stretch;
    padding-top: 30px;
}

#proj1 img{
    padding-top: 20px;
    width:75%;
    margin: auto;
    height: 400px;
}

#proj2{
    text-align: center;
    color:#ffce2b;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-top: 30px;
}

#proj2 img{
    padding-top: 20px;
    width:75%;
    margin: auto;
    height: 400px;
}

#proj3{
    text-align: center;
    color:#ffce2b;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#proj3 img{
    padding-top: 20px;
    width:75%;
    margin: auto;
    height: 400px;
}

/*Contact*/
#Contact{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),
    url("image/bgp.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: auto;
    overflow: hidden;
    color: #fff;
    text-shadow: #000;
    overflow: hidden;
    padding: 60px 0 60px 0;
    line-height: 2.5em;
    display: flex;
}

#cont{
    text-align: center;
    width: 100%;
    margin: auto;
}

#cont p{
    text-align: center;
}

#cont ul{
    list-style: none;
    word-spacing: 10px;
}

#cont li{
    padding-right: 40px;
}


#cont img{
    width:25%;
    margin: auto;
}

#main-footer{
    overflow: hidden;
    text-align: center;
}

@media screen and  (min-width:600px){
      
    #navbar a{ 
        padding-right: 40px;
        font-size: 20px;
    }

    #introtext{
        font-size: 30px;
    }

    #textsm h2{
        font-size: 40px;
    }

    #textsm li{
        display: inline-block;
        padding-right: 40px;
    }

    #textsm a{
        font-size: 25px;
    }

    #cont li{
        padding-right: 40px;
    }

    #cont p{
        font-size: 25px;
    }


    #ttle{
        font-size: 50px;
    } 
 
}

@media screen and  (min-width:768px){

    #img1{
        width: 400px;
    }

    #abttxt{
        font-size: 25px;
        width: 100%;
    }

    #img3{
        width:400px;
    }  

    #sklltxt{
        font-size: 24px;
    }

    #proj1{
        display: block;
        width: 50%;
        float: left;
    }

    #proj1 img{
        padding-top: 20px;
        width: 50%;
        height: 400px;
    }

    #proj2{
        display: block;
        width: 50%;
        float: right;
    }

    #proj2 img{
        width: 50%;
        height: 400px;
    }

    #proj3{
        display: block;
    }

    #proj3 img{
        width: 30%;
        height: 400px;
    }
}