/* For all the pages*/
*{
    text-decoration: none;
}



/*for intro*/
#intro{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),
    url("image/sdsa.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #fff;
    overflow: hidden;
    text-shadow: #000;
    overflow: hidden;
    line-height: 2.5em;
}

.title{
    color:#ffce2b; 
    font-size:40px;
    text-decoration: underline;
}

.span{
    color: #ffce2b;
}

.links{
    color:#fff;
}


/* Aboutme*/

#Aboutme{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("image/bgg.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    color: #fff ;
    overflow: hidden;
    padding: 60px 0 60px 0;
    line-height: 2.5em;
}


/* Skills*/

#Skills{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),
    url("image/bgp4.png") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    color: #fff;
    overflow: hidden;
    padding: 60px 0 60px 0;
    line-height: 2.5em;
}

#imgsklls img{
    width: 100%;
}

#imgsklls img:hover{
    width: 70%;
}

@keyframes Load{
    from{
        width: 0%;
    }
}

@-webkit-keyframes Load{
    from{
        width: 0%;
    }
}

@-moz-keyframes Load{
    from{
        width: 0%;
    }
}

@-o-keyframes Load{
    from{
        width: 0%;
    }
}

.box{
    list-style: none; 
    margin: 0;
    padding: 0;
}

.box li h5{
    font-size: 18px;
    margin-bottom: 10px;
}


.bar{
    height: 18px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.bar::before{
    content: "";
    background-color: #ffce2b;
    display: inline-block;
    padding: 8px;
    border-radius: inherit;
    animation: load 3s 0s;
    -webkit-animation: load 3s 0s;
    -moz-animation: load 3s 0s;
    -o-animation: load 3s 0s;
}

.bar.bar1::before{
    width: calc(30% - 10px);
}
.bar.bar2::before{
    width: calc(50% - 10px);
}
.bar.bar3::before{
    width: calc(70% - 10px);
}
.bar.bar4::before{
    width: calc(50% - 10px);
}
.bar.bar5::before{
    width: calc(60% - 10px);
}
.bar.bar6::before{
    width: calc(50% - 10px);
}
.bar.bar7::before{
    width: calc(50% - 10px);
}
.bar.bar8::before{
    width: calc(40% - 10px);
}
.bar.bar9::before{
    width: calc(30% - 10px);
}

/*Project*/

#Project{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url("image/bgg5.png") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: auto;
    overflow: hidden;
    color: #fff;
    overflow: hidden;
    padding: 60px 0 60px 0;
    line-height: 2.5em;
}

.Projttle{
    color: #ffce2b;
}

/*Contact*/
#Contact{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),
    url("image/bgp.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: auto;
    overflow: hidden;
    color: #fff;
    text-shadow: #000;
    overflow: hidden;
    padding: 60px 0 60px 0;
    line-height: 2.5em;
    display: flex;
}


#main-footer{
    overflow: hidden;
    text-align: center;
}
